<!DOCTYPE html>
<html>
<head>
    <title>Chat application</title>
</head>
<body>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css" rel="stylesheet">

    {% include 'navbar.html' %}

     {% if current_user %}
        {% if see_all %}
         <h2 style="padding-top: 45px;" align="center">Group chat</h2>
        {% end %}
     {% end %}
    <div style="width:100%; padding: 20px; overflow-y: auto;">
        {% if current_user %}
            {% if see_all %}
            <h3>  <div id="messages"> </div> </h3>
            {% end %}
        {% end %}
        {% block register %}   {% end %}
        {% block login%}   {% end %}

        {% if current_user %}
            <h4  style="padding-top: 45px;" >You are signed as <b class="text-success">
                <i class="glyphicon glyphicon-user"></i>{{ current_user }}</b> (<a href="/logout">logout</a>).
            </h4>
        {% end %}

            {% if current_user %}
                {% if see_all %}
                <div style="padding-top: 20px;">
                    <form onsubmit="return sendMessage()",>
                        <input id="message" type="text" style="width: 70%;" required><button style="width: 25%">Send</button>
                    </form>
                </div>
                {% end %}
            {% end %}
        {% if current_user %}

            <script>
                var ws = new WebSocket("ws://127.0.0.1:8888/websocket");
                var username = '{{current_user}}'

                function sendMessage() {
                    var messageInput = document.getElementById("message");
                    var message = messageInput.value;
                    var payload = {
                        "message": message,
                        "user": username
                    }
                    // Make the request to the WebSocket.
                    ws.send(JSON.stringify(payload));
                    // Clear the message from the input.
                    messageInput.value = "";
                    return false;
                }

                ws.onmessage = function(evt) {
                    var messageDict = JSON.parse(evt.data);
                    // Create a div with the format `user: message`.
                    if (messageDict.message_type == 'chat') {
                        var message = JSON.parse(messageDict.message);
                        var messageBox = document.createElement("div");
                        messageBox.innerHTML = message.user + ": " + message.message;
                        document.getElementById("messages").appendChild(messageBox);
                    } else if (messageDict.message_type == 'online_users') {
                        var linkDiv = document.getElementById("link");
                        linkDiv.innerHTML = "";
                        messageDict.message.forEach(function(element) {
                            var createA = document.createElement('a');
                            createA.setAttribute('href', "/privatmessage/" + element + "/");
                            createA.innerHTML = element + ' ';
                            linkDiv.append(createA);
                        })
                    } else if (messageDict.message_type == 'requests'){
                        var linkOnline = document.getElementById("online_friends");
                        linkOnline.innerHTML = "";
                        var createA = document.createElement('a');
                        createA.setAttribute('href', "/requests");
                        createA.innerHTML = 'requests <span class="badge"><div>'+ messageDict.message + '</div></span>';
                        linkOnline.append(createA);
                    } else if (messageDict.message_type =='unreaded'){
                        var unreaded = document.getElementById("private");
                        unreaded.innerHTML ="";
                        var link = document.createElement('a');
                        link.setAttribute('href', "/messages");
                        link.innerHTML = 'private messages<span class="badge"><div>'+ messageDict.message + '</div></span>';
                        unreaded.append(link)

                    }


                };
            </script>
        {% end %}
        {% if current_user %}
        {% if see_all %}
            <div id="onlineUsers">
                users in chat:
                <div id="link">  </div>
            </div>
        {% end %}
        {% end %}
            <div class="container">
                <div class="col-xs-12 col-sm-6">
                    <div class="container">{% block content %}    {% end %}</div>
                </div>
                <div>
                    {% if data %}
                       <h3 align="center">History message: <br></h3>

                      <table class="table table-condensed" >
                        <thead>
                            <tr>
                              <th scope="col">Username</th>
                              <th scope="col">Message</th>
                              <th scope="col">Date created</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for value in data %}
                           <tr>
                             <td ><b>{{ value['sender']}}</b></td>
                             <td >{{ value['message'] }}</td>
                             <td>{{ value['date_created'].strftime("%d-%m-%Y--%H:%M") }}</td>
                           </tr>
                          {% end %}
                        </tbody>
                      </table>
                    {% end %}
                </div>
            </div>
    </div>
 <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
