{% extends 'base.html' %}
{% block content %}

<h1>No friends</h1>

{% end %}
ws.onmessage = function(evt) {
        var messageDict = JSON.parse(evt.data);
        // Create a div with the format `user: message`.
        if (messageDict.message_type == 'chat') {
            var message = JSON.parse(messageDict.message);
            var messageBox = document.createElement("div");
            messageBox.innerHTML = message.user + ": " + message.message;
            document.getElementById("messages").appendChild(messageBox);
        } else if (messageDict.message_type == 'online_users') {
            var usersDiv = document.getElementById("onlineUsers");
            messageDict.message.forEach(function(element) {
              var link = document.createElement("span");
              link.innerHTML = element;
              usersDiv.appendChild(link);
            })
        }
    };
