{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col-xs-12 col-sm-6">
        {% if not friends %}
        <h4>No friends yet</h4>
        {% end %}

        {% if friends %}
        <h2>Your friends</h2>
        {% for friend in friends %}

        <h4><a href="/privatmessage/{{friend['username']}}/" class="text-info">{{friend['username']}}</a>
            {% if online_users %}
            {% for online in online_users %}
            {% if online == friend['username'] %}
            <b class="text-warning"> Online</b>
            {% end %}
            {% end %}
            {% end %}
            <a href="/remove/{{friend['username']}}/"> Remove</a></h4>
        {% end%}
        {% end%}
    </div>

</div>
{% end %}

