{% extends 'base.html' %}
{% block content %}



<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="/login" method="post">
             {% module xsrf_form_html() %}

            <div class="text-group" align="center">
             {% if not current_user %}
        <h1>Please log in or register</h1>
       <h3> Only letters, digits and _- allowed in username</h3>
             {% end %}

            <div class="input-group" >
                <label for="name">Username</label><br>
                <input type="text" id="name" name="name" class="form-control" required><br>
                <div>
                    <label for="password">Password</label><br>
                    <input class="form-control" id="password" name="password" type="password" value="" required>
                </div>


                    <button type="submit" class="btn btn-success">Sing in</button>
                    <a href='/register' class="btn-info">Register</a>

            </div>
                {% if errors %}
                <h3>{{ errors }}</h3>
                {% end %}

            </div>

            {% end %}

        </form>
    </div>
</div>
