{% if current_user %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

            <li><a href='/'>Group chat</a></li>
            <li id="friends"> </li>
            <li><a href='/all_users'>All Users</a></li>
              <li id="online_friends">  </li>
              <li id="private">  </li>
              {% if current_user %}
                <li><a href="/logout">Log out "{{ current_user }}"</a></li>
              {% end %}
              </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% end %}