<!DOCTYPE html>
<html>
<head>
    <title>Chat application</title>
</head>
<body>
{% if current_user %}

<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css" rel="stylesheet">

    {% include 'navbar.html' %}

{% end %}

    <h2 style="padding-top: 45px;" align="center">Private message chat</h2>

    <div style="width:100%; padding: 20px; overflow-y: auto;">
    <h3><div id="messages">  </div></h3>
        <div class="col-md-12 text-center">
            {% if not current_user %}
            <h1>Please sign in</h1>
            {% end %}
        </div>
        {% if current_user %}

        <h3 class="text-success"><small class="text-default"> Sender</small> {{ current_user }}<br>
       <small class="text-default"> Receiver</small> {{ send_to }}</h3>

        {% if not status %}
        <a href='/invite/{{send_to}}/'>Invite ot friend </a>
        {% end %}

        {% if status == 'Send' %}
        <h4>You send friend request </h4>
        {% end %}
        {% if status == 'Receive' %}
        <h4><b class="text-primary"> {{send_to}}</b> want to add you to friends<br><br>
                <a href='/confirm/{{send_to}}/' class="btn-success">Confirm</a>
            <a href="/remove/{{send_to}}/" class="btn-warning">
                    Delete</a>
        </h4>
        {% end %}

        {% if status == 'Friends' %}
            <h4><b class="text-primary"> {{send_to}}</b> is your friend</h4>
            <h4>  <a href="/remove/{{send_to}}/"><b class="btn-warning">Delete</b></a> from friends</h4>
        {% end %}


    <div style="padding-top: 20px;">
        <form onsubmit="return sendMessage()",>
            <input id="message" type="text" style="width: 70%;"><button style="width: 25%">Send</button>
        </form>
    </div>
        {% end %}
    <script>
        var ws = new WebSocket("ws://127.0.0.1:8888/send_private/{{send_to}}");
        var username = '{{current_user}}';
        var send_to_user = '{{ send_to }}';


        function sendMessage() {
            var messageInput = document.getElementById("message");
            var message = messageInput.value;
            var payload = {
                "message": message,
                "user": username,
                "send_to": send_to_user
            };
            // Make the request to the WebSocket.
            ws.send(JSON.stringify(payload));
            // Clear the message from the input.
            messageInput.value = "";
            return false;
        }

        ws.onmessage = function(evt) {
            var messageDict = JSON.parse(evt.data);
            if (messageDict.message_type == 'private') {
                    var message = JSON.parse(messageDict.message);
                    var messageBox = document.createElement("div");
                    messageBox.innerHTML = message.user + ": " + message.message;
                    document.getElementById("messages").appendChild(messageBox);}
            else if (messageDict.message_type == 'requests'){
                    var linkOnline = document.getElementById("online_friends");
                    linkOnline.innerHTML = "";
                    // <a href="" >requests<span class="badge"><div > </div> </span></a>
                    // messageDict.message.forEach(function(element) {
                    var createA = document.createElement('a');
                    createA.setAttribute('href', "/requests");
                    createA.innerHTML = 'requests <span class="badge"><div>'+ messageDict.message + '</div></span>';
                    linkOnline.append(createA);
            }else if (messageDict.message_type =='unreaded'){
                    var unreaded = document.getElementById("private");
                    unreaded.innerHTML ="";
                    var link = document.createElement('a');
                    link.setAttribute('href', "/messages");
                    link.innerHTML = 'private messages<span class="badge"><div>'+ messageDict.message + '</div></span>';
                    unreaded.append(link)
                        }
                                    };
    </script>

        {% if current_user %}
        <h4>You are signed as <b class="text-success">{{ current_user }}</b>
                            (<a href="/logout" class="text-info">logout</a>).</h4>
        <h3> Go to <a href="/" class="text-info">group chat</a> </h3>
        {% end %}
    </div>
<div class="container">
    <div class="col-xs-12 col-sm-6">
        {% if data %}
        <h3 align="center">Your messages: <br></h3>
        <table class="table table-condensed" >
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Message</th>
              <th scope="col">Date created</th>
            </tr>
          </thead>
          <tbody>
            {% for value in data %}
             <tr>
              <td ><b>{{ value['sender']}}</b></td>
              <td >{{ value['message'] }}</td>
              <td>{{ value['date_created'].strftime("%d-%m-%Y--%H:%M") }}</td>
             </tr>
            {% end %}
          </tbody>
        </table>
        {% end %}
    </div>
        <div class="col-xs-12 col-sm-6">
            {% if received_data %}
        <h3 align="center">Your opponent messages: <br></h3>

        <table class="table table-condensed" >
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Message</th>
              <th scope="col">Date created</th>
            </tr>
          </thead>
            <tbody>
             {% for value in received_data %}
                <tr>
                <td ><b>{{ value['sender']}}</b></td>
                <td >{{ value['message'] }}</td>
                <td>{{ value['date_created'].strftime("%d-%m-%Y--%H:%M") }}</td>
                </tr>
             {% end %}
            </tbody>
        </table>
        {% end %}
        </div>
    </div>

<!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</div>
</body>
</html>

