{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col-xs-12 col-sm-6">
        {% if not request_friends %}
            <h2>No incoming requests</h2>
        {% end %}
{% if request_friends %}
         <h2>Incoming friends request</h2>
        {% for friend in request_friends %}

         <h4><a href="/privatmessage/{{friend['username']}}/">{{ friend['username'] }}</a> want to add you to friends
            <a href="/confirm/{{friend['username']}}/" class="btn-success">
                Confirm</a>
            <a href="/remove/{{friend['username']}}/" class="btn-warning">
                Delete</a> <br>
             <a href="/privatmessage/{{friend['username']}}/" class="text-info">   Send </a> Private message </h4>
         <br>

        {% end %}
        {% end %}

    </div>
</div>
{% end %}